<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivanmagda.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".persistence.MovieProvider"
            android:authorities="com.ivanmagda.popularmovies"
            android:exported="false" />

        <activity
            android:name=".view.activity.MoviesListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTop"
            android:name=".view.activity.MovieDetailActivity"
            android:parentActivityName=".view.activity.MoviesListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MoviesListActivity" />
        </activity>

        <activity
            android:name=".view.activity.ReviewsActivity"
            android:parentActivityName=".view.activity.MovieDetailActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MovieDetailActivity" />
        </activity>
    </application>

</manifest>